---
services:
  grafana:
    image: grafana/grafana
    ports:
      - "3001:3000"
    restart: always
    environment:
      GF_INSTALL_PLUGINS: "grafana-clock-panel,grafana-simple-json-datasource,grafana-worldmap-panel,grafana-piechart-panel"
      GF_SECURITY_ADMIN_PASSWORD: "admin"
    volumes:
      - "./data/monitoring/grafana:/var/lib/grafana"
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - "../infra/monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml"
